<head>
  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<nav>
  <div class="container">
    <div class="row nav">
      <div class="col-md-2 col-md-offset-2">
    <a href="/">Komen Philadelphia</a>
  </div>
  <div class="col-md-2">
    <a href="about.html">Susan G. Komen</a>
  </div>
  <div class="col-md-2">
    <a href="portfolio.html">Race for the Cure</a>
  </div>
  <div class="col-md-2">
    <a href="events.html">Intern Application</a>
  </div>
  <div class="col-md-2">
    <a href="media.html">BLANK </a>
  </div>
</div>
</div>
</nav>
