<head>
  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<nav>
  <div class="container">
    <div class="row nav">
      <div class="col-md-2 col-md-offset-2">
    <a href="/">Twitter</a>
  </div>
  <div class="col-md-2">
    <a href="about.html">Facebook</a>
  </div>
  <div class="col-md-2">
    <a href="portfolio.html">LinkedIn</a>
  </div>
  <div class="col-md-2">
    <a href="events.html">Instagram</a>
  </div>
  <div class="col-md-2">
    <a href="media.html">Blank</a>
  </div>
</div>
</div>
</nav>
