<head>
  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<nav>
  <div class="container">
    <div class="row nav">
      <div class="col-md-2 col-md-offset-2">
    <a href="/">Main Page</a>
  </div>
  <div class="col-md-2">
    <a href="about.html">About</a>
  </div>
  <div class="col-md-2">
    <a href="portfolio.html"> I Am the Cure </a>
  </div>
  <div class="col-md-2">
    <a href="events.html"> Events </a>
  </div>
  <div class="col-md-2">
    <a href="media.html"> Media </a>
  </div>
</div>
</div>
</nav>
