.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}


.col-md-10.bottom {
  height: 50px;
}

.col-md-10 {
  height: 340px;
  padding-top: 20px;
}

.carouselcol {
  height: 400px;
}

.bars {
  height: 30px;
  background-color: #AB035C;
}

 .superscript{font-size:xx-small; vertical-align:top;}

.nav {
  background-color: #AB035C;

}

.a href {
  color: #ffffff;
}

.container {
  background-color: #F238A6;
}
