.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}


.col-md-10.bottom {
  height: 100px;
}

.col-md-10 {
  height: 400px;
  padding-top: 20px;
}

 .superscript{font-size:xx-small; vertical-align:top;}

.nav {
  background-color: #AB035C;

}

#nav #href {
  color: #ffffff;
}

.container {
  background-color: #F238A6;
}
